<h1>Listing bills</h1>

<table>
  <thead>
    <tr>
      <th> Content | </th>
      <th> Amount | </th>
      <th> Due Date </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.content %></td>
        <td><%= bill.amount %></td>
        <td><%= bill.due_date %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back Home', "dashboard", :class => "btn btn-theme"  %>


<%= link_to 'New Bill', new_bill_path, :class => "btn btn-theme"  %>