<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @bill.content %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @bill.due_date%>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
