<!DOCTYPE html>
<html>
<head>
  <link href="assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <title>Dwell | Home</title>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%=yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="wrap">
      <div align="center" id="header">
        <div class="container">
          <div class="row">
            <div>
             <%= render 'layouts/header'%>
  <!-- -->
               <div class="container"><!-- id vh-->

                    <% flash.each do |name, msg| %>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                    <% end %>
                    <!-- body-->


<div class="centerBox" style="background-color: white">

                <%= yield %>
              </div>
                <%= render 'layouts/footer' %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id);
        });
    }
});</script>
</body>
</html>


